body{
    margin: 0;
    padding-top: 120px;
    padding-left: 21%;
    font-family: Roboto,arial;
    height: 1700px;
}

.mainbody{
    width: 100%;
    height: 800px;
}
.option-bar{
    
    position: fixed;
    right: 0;
    left: 20%;
    padding-left: 10px;
    top: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background-color: white;
    height: 40px;
    z-index: 1;
}

.menu{
    border: none;
    padding: 7px 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-top: 8px;
    background-color: rgb(238, 238, 238);
    font-size: 14px;
}
.menu:hover{
    cursor: pointer;
    background-color: rgb(220, 220, 220);
    transition-duration: 0.5s;
}
.menu:active{
    background-color: black;
    color: white;
}

.container{
    display: grid;
   
    width: 96%;
   
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 20px;
    row-gap: 10px;
    padding-top: 20px;
    left: 100px;
    right: 20px;
   
    
}


.video-preview{
    
    position: relative;
    
}
.video-preview:hover{
    cursor: pointer;
 
}

.writings{
display: grid;
grid-template-rows: 40% 30% 30%;

    
}
.thumbnail{
    width: 100%;
    border-radius: 15px;
    
}
.thumbnail-div{
    position: relative;
}
.time{
    
    color: white;
    background-color: black;
    border-radius: 4px;
    padding: 3px 7px;
    font-family: roboto;
    font-size: 13px;
    font-weight: 500;
    bottom: 10px;
    right: 10px;
    position: absolute;
}
p{
    font-family: Arial;
    
    margin: 0;
}
.details{
    margin-top: 15px;
    display: grid;
    
    grid-template-columns: 15% 1fr;
   
}



.d-picture{
    border-radius: 50px;
    width: 75%;
}
.writing{
    display: inline-block;
}

.headline{
    font-size: 14px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 17px;
    padding-top: 0;
}
.eng{
    font-weight: bold;
}
.channel-name{
    font-size: 13px;
    color: rgb(97, 96, 96);
    margin-top: 15px;
    
}
.status{
    
    margin-top: 5px;

}